@font-face {
  font-family: "Montserrat";
  src: url("./Montserrat-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("./Montserrat-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: url("./Montserrat-ExtraBold.ttf");
  font-style: normal;
  font-weight: 900;
}
