@font-face {
  font-family: "Montserrat";
  src: url("./Montserrat-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./Montserrat-Bold.ttf");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Montserrat";
  src: url("./Montserrat-ExtraBold.ttf");
  font-style: normal;
  font-weight: bolder;
}
