.site__header__title {
  font-family: 'Ruthie';
  font-weight: normal;
  font-size: 72px;
  margin: 0;
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translate(-50%, 0);
  color: #000;
}

.site__header__title:link,
.site__header__title:visited {
  color: #000;
}

.site__header {
  border-bottom: 3px solid #999;
  background: #fff;
  box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.1);
}

.site__header-container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  min-height: 80px;
}
