.site__header__title {
  font-family: "Ruthie";
  font-weight: normal;
  font-size: 72px;
  margin: 0;
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translate(-50%, 0);
}

.site__header {
  border-bottom: 3px solid #999;
}

.site__header-container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  min-height: 80px;
}
