.item_preview {
  position: relative;
}

.item_preview .title {
  grid-area: title;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.item_preview .img {
  width: 7rem;
  height: 7rem;
  object-fit: contain;
  grid-area: img;
}

.item_preview .subcategory {
  grid-area: subcategory;
}

.item_preview .price {
  grid-area: price;
  font-size: 18px;
  white-space: nowrap;
}

.item_preview .price_with_shipping {
  grid-area: shipping;
  font-size: 10px;
}

.item_preview .seller {
  grid-area: seller;
  font-size: 10px;
}

.item_preview .tags {
  grid-area: tags;
}

.item_preview .sale {
  position: absolute;
  background: #ffeb3b;
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
  right: 0;
  border: 0.05rem solid #ccc;
}

.item_preview .rating {
  display: inline-block;
  margin-left: 4px;
}

.item_preview .rating .MuiSvgIcon-root {
  font-size: 12px;
  position: relative;
  top: 2px;
}

.item_preview .sale_cut {
  text-decoration: line-through;
  grid-area: sale-cut;
  text-align: right;
}

/*CARD START*/

.item_card {
  display: grid;
  min-width: 0;
  border: 1px solid #999;
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  font-size: 12px;
  text-align: left;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "img img"
    "title title"
    "subcategory price"
    "shipping shipping"
    "tags tags"
    "seller seller";
}

.item_card .img {
  justify-self: center;
}

.item_card .title {
  margin: 8px 0;
}

.item_card .price {
  text-align: right;
  margin-bottom: 12px;
  /* margin-top: 4px; */
}

.item_card .price_with_shipping {
  color: #555;
}

.item_card .seller {
  color: #555;
}

.item_card .sale_cut {
  position: absolute;
  right: 0.5rem;
  bottom: 2rem;
}

.item_card .sale {
  top: 0.5rem;
  right: 0.5rem;
  transform: rotate(15deg);
  font-size: 18px;
  box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.2);
}

/*CARD END*/

/*BOX START*/
.item_box {
  display: grid;
  grid-template-columns: 7rem auto auto;
  grid-template-areas:
    "img title title"
    "img subcategory sale-cut"
    "img shipping price"
    "img seller seller";
  justify-self: stretch;
  text-align: left;
  column-gap: 1em;
  margin: 1rem;
}

.item_box .img {
  width: 7rem;
  height: 7rem;
  object-fit: contain;
  grid-area: img;
  justify-self: center;
}

.item_box .title {
  padding-right: 1.9rem;
}

.item_box .price_with_shipping {
  align-self: end;
}

.item_box .price {
  text-align: right;
  margin-bottom: 12px;
}

.item_box .sale_cut {
  text-align: right;
}

.item_box .sale {
  top: -0.5rem;
  right: 0rem;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

/*BOX END*/
