.search {
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 70px;
  font-size: 28px;
  margin: 0 auto;
}

.search__userInput {
  border: none;
  border-bottom: 3px solid #999;
  padding: 3px 3px;
  box-sizing: border-box;
  margin: 9px;
  margin-bottom: -3px;
  outline: none;
  font-size: 24px;
}

.search__userInput:focus {
  border-bottom-color: black;
}

.search__category {
  font-size: 0.6em;
}

.search__icon {
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  width: 40px;
  height: 40px;
  margin-bottom: -6px;
  outline: none;
}

.search__icon img {
  fill: #999;
}

.search__icon:hover {
  fill: #000;
}
